.translatable, .translatable  a:visited, .translatable  a{
  color: darkblue;
  cursor: pointer;
}

.to_be_approved, .to_be_approved, .to_be_approved  a:visited, .to_be_approved  a{
  color: darkgreen;
  font-weight: bold;
}

.gwt-TabBarItem-disabled{
  display:none;
}

.login {
margin-top: 3%;
margin-left: 35%;
margin-right: 35%;
width:30%;
padding: 1em;
border: .2em solid lightblue;
}
.gwt-button {
font-weight: bold;
color: darkblue;
}
.login td {
padding: .2em;
}
.info-notification, .warn-notification, .showall-notification {
margin-top: .1em;
margin-left: 20%;
margin-right: 20%;
opacity: 0.8;
font-weight: bold;
padding: .7em;
width: 60%;
}
.info-note, .warn-note{
font-weight: bold;
}
.showall-notification{
color: darkblue;
background-color: #ddddff;
border: 1px solid darkblue;
}
.showall-notification .popupContent{
overflow: auto;
height: 20em;
}
.warn-notification, .warn-note{
color: darkred;
}
.warn-notification {
background-color: #ffdddd;
border: 1px solid darkred;
}
.info-notification, .info-note{
color: darkgreen;
}
.info-notification {
background-color: #ddffdd;
border: 1px solid darkgreen;
}
.session {
margin-top: .2em;
margin-right: 1%;
margin-left: 1%;
width: 98%;
}
.session-header * {
float: right;
}
.session-header button{
font-size: .9em;
}
.session-header div{
margin-top: .2em;
}
.session-header div, .session-header button{
margin-left: .2em;
}
.gwt-TabPanel{
width: 100%
}
.resource-header-panel {
clear: both;
float:right;
margin-right: 4.5%;
}
.resource-header-panel div {
display:inline;
}
.resource-action-panel {
margin-left:1.2%;
margin-right:2em;
}
.resource-action-panel * {
float:left;
}
.resource-action-panel div.gwt-Label {
color:darkBlue;
display:inline;
font-weight:bold;
font-size:1.1em;
}
.resource-action-panel input {
margin-left:0.5em;
margin-right:0.5em;
}
.resource-collection-navigation, .resource-action-panel .resource-buttons {
clear:both;
}
.resource-screen table {
margin-top: .5em;
clear: both;
}
.resource-fields {
margin-top: 1em;
clear: both;
}
.resource-fields > div {
float: left;
width: 30%;
margin-bottom: .5em;
margin-right: 1%;
margin-left: 1%;
border: solid white 1px;
}
.resource-fields > div.big-box {
width: 62.2%
}
.resource-fields > div input, .resource-fields > div textarea {
width:100%;
}
.is-ok, .is-error{
float: right;
}
.is-ok {
color: darkgreen;
}
.is-error{
color: darkred;
}
.resource-fields > div.has-errors{
border: solid red 1px;
}
.resource-fields input[disabled]{
color: gray;
}
.resource-buttons .action-buttons button{
color: darkgreen;
}
.resource-action-panel .get-by button {
color: black;
}
.resource-action-panel .search .gwt-Label {
margin-top: .5em;
}
.resource-action-panel input{
margin-right: 0;
}
.resource-buttons .new-create button{
color: darkred;
}
.resource-collection-navigation, .resource-action-panel .resource-buttons {
padding-top: .5em;
}
.loading-notice {
background-color:lightgoldenRodYellow;
border:1px solid darkgoldenrod;
color:darkgoldenrod;
margin-left:35%;
margin-right:35%;
padding-left:5%;
width:30%;
padding-right:5%;
padding-top:.5em;
padding-bottom:.5em;
overflow:auto;;
position:absolute;
top:3em;
opacity:.9;
}
