body {
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 2em;
}
.info-notification, .warn-notification, .showall-notification {
margin-top: 3em;
margin-left: 20%;
margin-right: 20%; 
opacity: 0.9;
font-weight: bold;
padding: 1em;
width: 60%;
}
.info-note, .warn-note{
font-weight: bold;
}
.showall-notification{
color: darkblue;
background-color: #ddddff;
border: 1px solid darkblue;
}
.showall-notification .popupContent{
overflow: scroll;
height: 20em;
}
.warn-notification, .warn-note{
color: darkred;
}
.warn-notification {
background-color: #ffdddd;
border: 1px solid darkred;
}
.info-notification, .info-note{
color: darkgreen;
}
.info-notification {
background-color: #ddffdd;
border: 1px solid darkgreen;
}
.session-control, .login-control {
  width: 99%;
  border-bottom: 1px solid darkblue;
  color: darkblue;
  background-color: #ddddff;
  opacity: 0.95;
  position:fixed; 
  top: 0em;
  right: 0em;
  left: 0em;
  padding: .5%;
}
.login-control input { 
  color: darkblue;
  font-weight: bold;
}
.login-control * {
  padding-right: .2em;
  padding-left: .5em;
}
.session-control-button, .login-control-button {
  color: darkblue;
  font-weight: bold;
}
.session-control-button {
  float: right;
}
.login-control * {
  float: left;
}
.phrase-context{ 
  border: 1px solid darkblue;
  color: darkblue;
  background-color: #ddddff;
  opacity: 0.95;
}
.current-text, .current-text-label{
padding: .2em;
font-size: 0.8em;
}
.current-text-label{
font-weight: bold;
border-bottom: 1px solid darkblue;
border-top: 1px solid darkblue;
}
.over {
  cursor: help;
}